.landing {
  background: linear-gradient(135deg, #A68F7B, #F2F2F2);
  padding: 80px;
  border-radius: 10px;
  text-align: center;
  color: #333333;
}

.text-block h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #4E3B2E;
}

.text-block p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
}

.btn-primary {
  margin-top: 30px;
  display: inline-block;
  padding: 12px 20px;
  background-color: #4E3B2E;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #D4B483;
}
